/*Arabic CSS file*/


/**
 *   Overall pages fix + fonts
 */
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body,.selectize-dropdown, .selectize-input, .selectize-input input{font-family: 'Droid Arabic Kufi', serif !important;}

/*warning dialog close button fix*/
.close { float:left !important; }

/*breadcrumb alignment fix*/
.page-header .breadcrumb {text-align:left !important;}

/*navigation header positioning fix*/
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right !important;
  }
}


/**
 *   Frontend/Register/Index
 */

/*Datepicker Arabic Width Fix*/
.daterangepicker .calendar{max-width: none;}

/*Radio Button Fixes*/
.page-header .breadcrumb > li + li:before{content: '\f107';}
.radioer input[type="radio"] + label{margin:5px 36px 15px 20px;}
.radioer input[type="radio"] + label:before{left:auto; right: -36px;}

blockquote{border-left:0; border-right:2px solid #f0f0f0;}
.dropdown-menu{text-align:right;}
.bootstrap-select.btn-group .btn .caret{right:auto; left: 14px;}
.bootstrap-select.btn-group .btn .filter-option{text-align:right;}
.panel .steps-pull-right{ float: left;}
.bootstrap-select > .btn{padding-left:25px;}
.questionRow p{float:right !important;}
.inputer{float:right !important;}
.inputer label{left:auto; right:0;}